@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfbf7;
  --foreground: #2c3e50;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
  }
  h1, h2, h3, h4, .font-serif {
    font-family: var(--font-serif), sans-serif;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
